include head
body
  include header
  div(class="container container-main")
    div(class="row")
      div(class="col-12 text-center")
        div(class="icons")
          img(class="icons__robot" src="/images/robot.svg")
          img(class="icons__kiss" src="/images/kiss.svg")
          img(class="icons__thinking" src="/images/thinking.svg")
          img(class="icons__eyes_up" src="/images/eyes_up.svg")
      div(class="col-12 text-center")
        div
  include footer