:root {
    --background-primary: #202225;
    --background-secondary: #36393f;
    --button-background: #7289da;
    --text-semi-transparent: hsla(0,0%,100%,.6);
}
@font-face {
    font-family: "Whitney";
    src: url(fonts/Whitney.ttf) format("truetype");
}
html, body {
    height: 100%;
}
.disabled {
    display: none;
}
.active {
    display: block;
}
/*HEADER*/
header {
    color: white;
    background-color: #36393f;
    border-radius: 0 0 10px 10px;
    max-width: 85%;
    margin: auto auto 80px;
}
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img {
    max-width: 250px;
}
.header__title {
    color: white;
    text-align: center;
}
.header__title h1 {
    padding-top: 10px;
}
.header__title:hover {
    color: white;
    text-decoration: none;
}
.header__menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 30px 0;
}
.user-avatar img {
    border-radius: 150px;
}
/*BODY*/
body {
    margin: 0;
    min-height: 1000px;
    font-family: Whitney, sans-serif;
    font-size: 15px;
    color: white;
    background-color: var(--background-primary);
}
.container-main {
    max-width: 85%;
    min-height: 100%;
}
.container-main .row {
    background-color: #36393f;
    border-radius: 10px;
}
.btn-submit {
    color: white;
    background-color: var(--button-background);
    border-radius: 3px;
    border: none;
    width: 250px;
    height: 45px;
}
.icons {
    margin: auto;
    overflow: hidden;
    height: 400px;
}
.icons__robot {
    width: 120px;
    position: absolute;
}
.icons__kiss {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 35%;
}
.icons__thinking {
    width: 120px;
    position: absolute;
    top: 120px;
    right: 35%;
}
.icons__eyes_up {
    width: 120px;
    position: absolute;
    top: 200px;
    left: 30%;
}
#channel-selector {
    display: flex;
    justify-content: center;
}
/*FOOTER*/
footer {
    color: var(--text-semi-transparent);
}
footer .container {
    max-width: 85%;
    background-color: #36393f;
    border-radius: 10px 10px 0 0;
}